PORT=

NODE_ENV=

ALLOWED_ORIGINS='http://localhost:5174'

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
TZ=America/Sao_Paulo
PGTZ=America/Sao_Paulo
DB_SCHEMA=bakers_bill


SALTS=

JWT_EXPIRES_IN=
JWT_SECRET=
COOKIE_DOMAIN=
COOKIE_SECURE=
COOKIE_SAME_SITE=
COOKIE_SECRET=
STORAGE_PATH=

EMAIL=
EMAIL_SEND_PASSWORD=

JWT_SECRET_EMAIL_VERIFICATION=
JWT_EXPIRES_IN_EMAIL_VERIFICATION=

FRONTEND_URL=http://localhost:5174